<div class="flex-container" id="content">
	<form id="adminform" method="post" action="/admin">
		<fieldset>
			<legend>Ingestions</legend>
			<ul class="is-unstyled">
    		<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.IngestAllLibraries %>" name="<%= locals.FormID.IngestAllLibraries %>">
					<label class="label" for="<%= locals.FormID.IngestAllLibraries %>">Global Ingestion (on = All Releases)
				</li>
			</ul>
			<ol>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.IngestAccessories %>" name="<%= locals.FormID.IngestAccessories %>">
					<label class="label" for="<%= locals.FormID.IngestAccessories %>">Ingest Manufacturers Wheels</label>
				</li>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.IngestFixture %>" name="<%= locals.FormID.IngestFixture %>">
					<label class="label" for="<%= locals.FormID.IngestFixture %>">Ingest Fixtures</label>
				</li>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.UpdateFixtureAccessories %>" name="<%= locals.FormID.UpdateFixtureAccessories %>">
					<label class="label" for="<%= locals.FormID.UpdateFixtureAccessories %>">Update Fixtures Profile with Pictures</label>
				</li>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.ComputeFixtureChangelog %>" name="<%= locals.FormID.ComputeFixtureChangelog %>">
					<label class="label" for="<%= locals.FormID.ComputeFixtureChangelog %>">Compute Fixtures Changelog</label>
				</li>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.ExtractFixtureParameters %>" name="<%= locals.FormID.ExtractFixtureParameters %>">
					<label class="label" for="<%= locals.FormID.ExtractFixtureParameters %>">Extract Fixture Parameters</label>
				</li>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.ComputeFFStats %>" name="<%= locals.FormID.ComputeFFStats %>">
					<label class="label" for="<%= locals.FormID.ComputeFFStats %>">Compute FF@ Statistics</label>
				</li>
			</ol>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.IngestFixturePresets %>" name="<%= locals.FormID.IngestFixturePresets %>">
					<label class="label" for="<%= locals.FormID.IngestFixturePresets %>">Ingest Fixture Preset only</label>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Referencing</legend>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.RenewSitemap %>" name="<%= locals.FormID.RenewSitemap %>">
					<label class="label" for="<%= locals.FormID.RenewSitemap %>">Renew the Sitemap</label>
				</li>
			</ul>
		</fieldset>
		<fieldset>
			<legend>Cache Management</legend>
			<ul class="is-unstyled">
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.CacheCleanAll %>" name="<%= locals.FormID.CacheCleanAll %>">
					<label class="label" for="<%= locals.FormID.CacheCleanAll %>">Clean all caches</label>
				</li>
			</ul>
			<ul>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.CacheFFChangelog %>" name="<%= locals.FormID.CacheFFChangelog %>">
					<label class="label" for="<%= locals.FormID.CacheFFChangelog %>">Clean FF@ Changelog</label>
				</li>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.CacheLibraryChangelog %>" name="<%= locals.FormID.CacheLibraryChangelog %>">
					<label class="label" for="<%= locals.FormID.CacheLibraryChangelog %>">Clean Library  Changelog</label>
				</li>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.CacheFixtureList %>" name="<%= locals.FormID.CacheFixtureList %>">
					<label class="label" for="<%= locals.FormID.CacheFixtureList %>">Clean Fixture List</label>
				</li>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.CacheFixture %>" name="<%= locals.FormID.CacheFixture %>">
					<label class="label" for="<%= locals.FormID.CacheFixture %>">Clean Fixtures</label>
				</li>
				<li>
					<input type="checkbox" class="switch" id="<%= locals.FormID.CacheSearch %>" name="<%= locals.FormID.CacheSearch %>">
					<label class="label" for="<%= locals.FormID.CacheSearch %>">Clean Fixtures</label>
				</li>
			</ul>
		</fieldset>
			<p>🔒 <input type="password" name="parse" id="parse" value="password">
			<button class="btn--warning" name="submit" id="submit" type="submit">Proceed</button></p>
	</form>
	<div class="grid-2" id="Results">
	</div>
</div>
